* {
  padding: 0;
  margin: 0;
  font-family: "Alexandria", sans-serif;
}

html {
  touch-action: manipulation;
}

:root {
  --body: #223355;
  --task: #2A4262;
  --white: #fff;
  --grey: #6A7A90;
  --transparent: #2A3B5B;
}

body {
  background: var(--body);
}

/* Home Page */
#home-page {
  height: 100vh;
  width: 100%;
  background: var(--body);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

#settings {
  width: 100%;
  height: 15%;
  background: inherit;
  display: flex;
  justify-content: center;
  align-item: center;
  animation: slideDown 0.5s ease forwards;
  opacity: 0;
  transform: translateY(-50px);
}

#settings .settings-bar {
  width: 90%;
  height: 100%;
  background: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#settings .settings-bar button {
  width: 50px;
  height: 50px;
  background: var(--transparent);
  font-size: 17px;
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 20px;
  user-select: none;
}

#settings .settings-bar .date {
  flex: 1;
  background: none;
}



#main {
  width: 100%;
  height: 85%;
  background: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  animation: slideUp 0.5s ease forwards;
  opacity: 0;
  transform: translateY(50px);
}

#main .main-bar {
  width: 90%;
  height: 100%;
  background: inherit;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: auto;
}

#main .main-bar button {
  width: 100%;
  height: 80px;
  margin: 5px;
  background: var(--task);
  font-size: 17px;
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 20px;
  flex-shrink: 0;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#main .main-bar button .button-bar {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main .main-bar button div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#main .main-bar button .icon {
  width: 50px;
  height: 50px;
  background: var(--transparent);
  border-radius: 20px;
  font-size: 20px;
}

#main .main-bar button .task {
  flex-direction: column;
  align-items: space-between;
  font-size: 17px;
  flex: 1;
  align-items: start;
}

#main .main-bar button .task .task-time {
  font-size: 15px;
  color: var(--grey);
}


#main .main-bar button .add {
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 20px;
  color: var(--grey);
}







#profile-page {
  height: 100vh;
  width: 100%;
  background: var(--body);
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#profile-settings {
  width: 100%;
  height: 15%;
  background: inherit;
  display: flex;
  justify-content: center;
  align-item: center;
  animation: slideDown 0.5s ease forwards;
  opacity: 0;
  transform: translateY(-50px);
}

#profile-settings .profile-settings-bar {
  width: 90%;
  height: 100%;
  background: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#profile-settings .profile-settings-bar button {
  width: 50px;
  height: 50px;
  background: var(--transparent);
  font-size: 17px;
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 20px;
  user-select: none;
}

#profile-settings .profile-settings-bar .profile-title {
  flex: 1;
  text-align: left;
  font-size: 20px;
  color: var(--white);
  margin-left: 10px;
  background: none;
  user-select: none;
}

#profile-main {
  width: 100%;
  height: 85%;
  background: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  animation: slideUp 0.5s ease forwards;
  opacity: 0;
  transform: translateY(50px);
}

#profile-main .profile-main-bar {
  width: 90%;
  height: 100%;
  background: inherit;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: auto;
}

#profile-main .profile-main-bar button {
  width: 100%;
  height: 80px;
  margin: 5px;
  background: var(--task);
  font-size: 17px;
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 20px;
  flex-shrink: 0;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#profile-main .profile-main-bar button .profile-button-bar {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-main .profile-main-bar button div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#profile-main .profile-main-bar button .profile-icon {
  width: 50px;
  height: 50px;
  background: var(--transparent);
  border-radius: 20px;
  font-size: 20px;
}

#profile-main .profile-main-bar button .profile-task {
  flex-direction: column;
  align-items: space-between;
  font-size: 17px;
  flex: 1;
  align-items: start;
}





@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
